# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
.env

# Logs
*.log
logs/
coverage/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Data (opcional: mantenha data/ se quiser versionar exemplos)
# /data/
